.sect {
    padding: 32px 0;
}

.line {
    width: 536px;
    height: 1px;
    background-color: #000;
    margin: 0 auto 32px;

}

.title {
    font-family: Montserrat Alternates;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-bottom: 32px;
    text-align: center;
}